@using Sitecore.Mvc

<div class="two-column">
    <div class="main-left col_half">
        @Html.Sitecore().DynamicPlaceholder("ph-Left")
    </div>
    <div class="main-right col_half">
        @Html.Sitecore().DynamicPlaceholder("ph-Right")
    </div>
</div>