<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Hackathon.Project.Content" description="Hackathon Content Implementation" dependencies="Hackathon.Project.Website" patch:after="configuration[@name='Hackathon.Project.Website']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Hackathon\serialization\Content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Hackathon.Project.Content" database="master" path="/sitecore/content/Hackathon" >
              <exclude childrenOfPath="Sandbox">
                <except name="Sites" />
              </exclude>
            </include>
            <include name="Hackathon.Project.Media" database="master" path="/sitecore/media library/Project/Hackathon">
              <exclude childrenOfPath="Sandbox">
                <except name="Sites" />
              </exclude>
            </include>
            <include name="Hackathon.Project.Themes" database="master" path="/sitecore/media library/Themes/Hackathon" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>